/* * {
  border: 1px solid black;
} */

html{
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:lightgrey;
  min-height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form{
  padding: 20px;
  margin-top: 60px;
}
form button, form h5{
  margin: 20px 0;
}

input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color:#ec407a;
  box-shadow: none;
}

img {
  max-width: 100%;
}

ul > li {
  font-size: 1rem;
  margin-left: 2rem;
  list-style-type: circle !important;
}

.recipe-details{
  margin: 24px auto 0 auto;
  padding: 10px;
}
.cookbook-details{
  margin: 24px auto 0 auto;
  padding: 10px;
}

.edit-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.log-out-button{
  color: white;
  border: none
}

@media screen and (max-width: 700px) {
  .mobile-nav{display:block;}
  .desktopnav{display:none;}
  .body-container {
    position: relative;
    top: 3em;
  }
}

@media screen and (min-width: 701px) {
  .mobile-nav{display:none;}
  .desktopnav{display:block;}
}

